.question-div {
    display: flex;
}

.flexgrow {
    flex-grow: 1;
}

.top-btns {
    display: flex;
    // justify-content: space-between;
}

label.container {
    display: block;
    align-self: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 28px;
    margin-left: 8px;
    cursor: pointer;
    font-size: 22px;
    width: fit-content;
    user-select: none;

    &>input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark {
            background-color: var(--turquoise-2);
            border-color: var(--turquoise-2);

            &:after {
                display: block;
            }
        }

        &~span.checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: var(--gray-4);

            border-radius: 3px;
            border-style: solid;
            border-color: var(--gray-11);

            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid var(--white);
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }

    &:hover input:not(:checked)~span.checkmark {
        background-color: var(--gray-11);
        border-color: var(--gray-15);
    }
}