.question-div {
    display: flex;
}

.flexgrow {
    flex-grow: 1;
}

.top-btns {
    display: flex;
    // justify-content: space-between;
}

/* Customize the label (the container) */
.container {
    display: block;
    align-self: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 28px;
    margin-left: 8px;
    cursor: pointer;
    font-size: 22px;
    width: fit-content;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--gray-4);

    border-radius: 3px;
    border-style: solid;
    border-color: var(--gray-11);
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: var(--gray-11);
    border-color: var(--gray-15);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: var(--turquoise-2);
    border-color: var(--turquoise-2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}