.box {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}

.question-box {
	align-self: left;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: auto;
	flex: 1;
	text-align: center;
	padding-top: 40px;
}

.instruction {
	min-height: 100px;
}

.question {
	min-height: 100px;
}

.button-board {
	height: 300px;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;

	&>.button {
		width: auto;
		height: 100px;
		margin: 25px 50px;
		text-align: center;
		align-content: center;
		background-color: var(--gray-3);

		border-radius: 5px;
		border-style: solid;
		border-color: black;
		box-shadow: 3px 3px 3px var(--gray-20);

		user-select: none;

		&:active {
			margin: 28px 47px 22px 53px;
			box-shadow: none;
		}

		&.chaser {
			box-shadow: 0px 0px 20px red;
		}

		&.player {
			background-color: lime;
		}

		&.correct {
			font-weight: bold;
			text-decoration: underline;
		}
	}
}

.board {
	align-self: right;
	align-content: center;
	width: 300px;
}

.final-chase-setup {
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;

	width: 100%;

	&>div {
		width: auto;
		text-align: center;
		align-content: center;
	}
}