<div class="toggle-bar">
	<div class="toggle-item" [class.enabled]="enabledTab === ET.TheChase" (click)="setTab(ET.TheChase)">
		The Chase
	</div>
	<div class="toggle-item" [class.enabled]="enabledTab === ET.FinalChase" (click)="setTab(ET.FinalChase)">
		Final Chase
	</div>
</div>

<div class="box" *ngIf="enabledTab === ET.TheChase">
	<div class="question-box">
		<div class="instruction bold">
			{{ instruction }}
		</div>
		<div class="question bold">
			Question:<br />
			{{ selectedQuestion.origin.question }}
		</div>
		<div class="button-board">
			<div class="button" [class.chaser]="chaserAnswer===0" [class.player]="playerAnswer===0"
				[class.correct]="correctAnswer===0" (click)="submitAnswer(0)">
				{{ selectedQuestion.answers[0] }}
			</div>
			<div class="button" [class.chaser]="chaserAnswer===1" [class.player]="playerAnswer===1"
				[class.correct]="correctAnswer===1" (click)="submitAnswer(1)">
				{{ selectedQuestion.answers[1] }}
			</div>
			<div class="button" [class.chaser]="chaserAnswer===2" [class.player]="playerAnswer===2"
				[class.correct]="correctAnswer===2" (click)="submitAnswer(2)">
				{{ selectedQuestion.answers[2] }}
			</div>
			<div class="button" [class.chaser]="chaserAnswer===3" [class.player]="playerAnswer===3"
				[class.correct]="correctAnswer===3" (click)="submitAnswer(3)">
				{{ selectedQuestion.answers[3] }}
			</div>
		</div>
		<div class="center-horizontally">
			@if (turn === T.Reveal) {
			<div class="text-toggle button"><span (click)="revealAnswer()">Reveal Answer</span></div>
			}
			@if (turn === T.NextQ) {
			<div class="text-toggle button"><span (click)="nextQuestion()">Next Question</span></div>
			}
			@if (turn === T.GameOver) {
			<div class="text-toggle button"><span (click)="resetBoard()">Reset Game</span></div>
			}
		</div>
	</div>
	<div class="board">
		@for (boardItem of board; track $index) {
		<img [src]="getImageRef(boardItem)" width="300px" />
		}
	</div>
</div>

<div class="box" *ngIf="enabledTab === ET.FinalChase">
	<div class="final-chase-setup bold" *ngIf="fcTurn === FCT.Setup">
		<div class="centre-horizontally">
			Contestant headstart:<br />
			<div class="text-toggle">
				<span (click)="setContestantHeadstart(1)" [class.selected]="contestantHeadstart == 1">
					One
				</span>
				<span (click)="setContestantHeadstart(2)" [class.selected]="contestantHeadstart == 2">
					Two
				</span>
				<span (click)="setContestantHeadstart(3)" [class.selected]="contestantHeadstart == 3">
					Three
				</span>
				<span (click)="setContestantHeadstart(4)" [class.selected]="contestantHeadstart == 4">
					Four
				</span>
			</div>
		</div>
		<div class="centre-horizontally">
			<br />Contestant time:<br />
			<div class="text-toggle">
				<span (click)="setContestantTimer(60)" [class.selected]="contestantTimer == 60">
					1:00
				</span>
				<span (click)="setContestantTimer(90)" [class.selected]="contestantTimer == 90">
					1:30
				</span>
				<span (click)="setContestantTimer(120)" [class.selected]="contestantTimer == 120">
					2:00
				</span>
				<span (click)="setContestantTimer(150)" [class.selected]="contestantTimer == 150">
					2:30
				</span>
			</div>
		</div>
		<div class="centre-horizontally">
			<br />Chaser time:<br />
			<div class="text-toggle">
				<span (click)="setChaserTimer(60)" [class.selected]="chaserTimer == 60">
					1:00
				</span>
				<span (click)="setChaserTimer(90)" [class.selected]="chaserTimer == 90">
					1:30
				</span>
				<span (click)="setChaserTimer(120)" [class.selected]="chaserTimer == 120">
					2:00
				</span>
				<span (click)="setChaserTimer(150)" [class.selected]="chaserTimer == 150">
					2:30
				</span>
			</div>
		</div>
		<div class="center-horizontally">
			<br />The player turn will start <span class="underline">immediately</span> after selecting the button
			below.<br />
			<div class="text-toggle button"><span (click)="fcPlayerTurn()">Start</span></div>
		</div>
	</div>

	<div class="final-chase-setup" *ngIf="fcTurn === FCT.Player">
		<div class="timer-score">
			<div>
				Player score:<br />
				<span class="number">
					{{ contestantScore }}
				</span>
			</div>
			<div>
				Time remaining: <br />
				<span class="number">
					{{ M.floor(contestantTimer / 60) }}:{{ ("0"+(contestantTimer - 60*M.floor(contestantTimer /
					60))).slice(-2) }}
				</span>
			</div>
			<div>
				Chaser score:<br />
				<span class="number">
					{{ chaserScore }}
				</span>
			</div>
		</div>

		<div>
			Question:<br />
			{{ selectedQuestion.origin.question }}
			<br /><br />
			Answer:<br />
			{{ selectedQuestion.origin.correctAnswer }}
		</div>

		<div class="button-board">
			<div class="button">
				Correct Answer
			</div>
			<div class="button">
				Incorrect Answer
			</div>
		</div>
	</div>

</div>

The Chase debug buttons:
<button (click)="test()">test</button>
<button (click)="advancePlayer()">Advance player</button>
<button (click)="advanceChaser()">Advance chaser</button>
<button (click)="resetBoard()">Reset</button>

<br />
Final Chase debug buttons:
<button (click)="test()">test</button>